body {
	background-color: #8585ad;
}
#header-nav .navbar-brand{ 
	margin: 0px;
	color: #990033;
	font-size: 2em;
	font-weight: bold;
}
#header-nav {
	background-color: #adad85;
	border-radius: 0;
}	
#main-page-title {
    text-align: center;
    font-size: 1.8em;
    color: #e6e6e6; /*#444422*/
}
#main-page-section{
    background-color: #d1d1e0; /*#b3b3cc;*/
    height: 1000px;
    font-weight: bold;
}
#main-page-section h2{
 	text-align: center;
 	font-size: 1.5em;

}
.navbar-toggle {
	margin-bottom: 0;
}
#nav-list a {
	font-size: 1.5em;
	color: #444422; /*#e6e6e6;*/
	text-align: center;
}
#nav-list a:hover{
	color: #990033;
	background: #e6e6e6;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #990033;
}

